<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace속성에 지정되는 값은 이곳에 작성된 SQL문을 호출해서 사용할 때 같이 사용되는 이름이다 -->
<mapper namespace="member">
	
	<insert id="insertMember" parameterType="memberVo">
		insert into mymember ( mem_id, mem_pass, mem_name, mem_tel, mem_addr)
		values (#{mem_id},#{mem_pass},#{mem_name},#{mem_tel},#{mem_addr})
	</insert>
	
	<delete id="deleteMember" parameterType="String">
		delete from mymember where mem_id= #{mem_id}
	</delete>
	
	<update id="updateMember" parameterType="memberVo">
		update mymember set mem_pass = #{mem_pass}, mem_name = #{mem_name}, mem_tel = #{mem_tel} , mem_addr = #{memmem_addr}
		where mem_id = #{mem_id}
	</update>
	
	<select id="getAllMember" resultType="memberVo">
		select * from mymember
	</select>
	
	<select id="getMemberCount" resultType="int" parameterType="String">
		select count(*) cnt from mymember where mem_id = #{mem_id}
	</select>
	<!-- 
	Map을 파라미터로 받아서 처리할 때는 변수명 역할은 Map의 key값을 한다.
	
	파라미터로 가져온 값을 걸럼명 등의 자리에서 사용할 경우에는 달러($)기호를 사용해서 나타낸다.
	예) ${변수명}, ${key값}
	
	 -->
	 
	 <!-- key값 정보 ==> 회원ID(memid), 수정할 컬럼명(field), 수정할 데이터(data) -->
	<update id="updateMember2" parameterType="map">
		update mymember set ${field} = #{data} where mem_id = #{memid}
	</update>

</mapper>